{{#each people}}

    <div class="table-row table-row-data">
        <div class="table-cell table-cell-data table-cell-name" contenteditable>{{name}}</div>
        <div class="table-cell table-cell-data table-cell-age" contenteditable>{{age}}</div>
        <div class="table-cell table-cell-data table-cell-city" contenteditable>{{city}}</div>
    </div>

{{/each}}