<button id="load-data">Загрузить данные</button>
<button id="save-data">Сохранить данные</button>

<div id="main-table" class="table main-table">

    <div class="table-row">

        <div class="table-cell table-header" id="sort-name">Name</div>
        <div class="table-cell table-header" id="sort-age">Age</div>
        <div class="table-cell table-header" id="sort-city">City</div>

    </div>

    {{#each people}}

        <div class="table-row">
            <div class="table-cell" contenteditable>{{name}}</div>
            <div class="table-cell" contenteditable>{{age}}</div>
            <div class="table-cell" contenteditable>{{city}}</div>
        </div>

    {{/each}}

</div>

